@model ST10398576_EventEase.Models.Booking
@{
    ViewData["Title"] = "Booking Details";
}

<h2>Booking</h2>

<div>
    <p><strong>Event:</strong> @Model.Event?.EventName</p>
    <p><strong>Date:</strong> @Model.BookingDate.ToString("dd MMM yyyy")</p>
    <p><strong>Venue:</strong> @Model.Venue?.VenueName</p>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>