@model ST10398576_EventEase.Models.Venue
@{
    ViewData["Title"] = "Delete Venue";
}

<h2>Delete Venue</h2>

<p>Are you sure you want to delete this?</p>

<div>
    <p><strong>@Model.VenueName</strong></p>
    <p>@Model.Location</p>
</div>

<form asp-action="Delete" method="post" asp-route-id="@Model.VenueId">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="VenueId" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
